html {
    background-color: #36393f;
}

#form {
    color: #fff;
    background-color: #1c1e21;
    padding: 40px;
    border-radius: 4px;;
    max-width: 425px;
    height: 100%;
}

#btn {
    cursor: pointer;
}

#btn::after {
    border-color: transparent transparent #00d1b2 #00d1b2!important;
}

@media screen and (min-width: 426px) {
    #form {
        height: auto;
        margin: 2em auto;
    }
}